@using VinaCent.Blaze.Web.Models.Profile
@model ChangePasswordModel

<form method="post" id="ChangePasswordForm">
    <div class="row g-2">
        @if (!Model.HideOldPasswordInput)
        {
            <div class="col-lg-4">
                <div>
                    <label asp-for="CurrentPassword" class="form-label"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
            </div>
        }
        <!--end col-->
        <div class="col-lg-4">
            <div>
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <!--end col-->
        <div class="col-lg-4">
            <div>
                <label asp-for="NewPasswordConfirm" class="form-label"></label>
                <input asp-for="NewPasswordConfirm" class="form-control" />
                <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
            </div>
        </div>
        <!--end col-->
        <div class="col-lg-12">
            <div class="mb-3">
                <a asp-controller="Account" asp-action="ResetPassword" class="text-muted">@L(LKConstants.ForgotPassword)</a>
            </div>
        </div>
        <!--end col-->
        <div class="col-lg-12">
            <div class="text-end">
                <button type="submit" class="btn btn-success">@L(LKConstants.Save)</button>
            </div>
        </div>
        <!--end col-->
    </div>
    <!--end row-->
</form>
@* <div class="mt-4 mb-3 border-bottom pb-2"> *@
@*     <div class="float-end"> *@
@*         <a href="javascript:void(0);" class="link-primary">All Logout</a> *@
@*     </div> *@
@*     <h5 class="card-title">Login History</h5> *@
@* </div> *@
@* <div class="d-flex align-items-center mb-3"> *@
@*     <div class="flex-shrink-0 avatar-sm"> *@
@*         <div class="avatar-title bg-light text-primary rounded-3 fs-18 shadow"> *@
@*             <i class="ri-smartphone-line"></i> *@
@*         </div> *@
@*     </div> *@
@*     <div class="flex-grow-1 ms-3"> *@
@*         <h6>iPhone 12 Pro</h6> *@
@*         <p class="text-muted mb-0">Los Angeles, United States - March 16 at 2:47PM</p> *@
@*     </div> *@
@*     <div> *@
@*         <a href="javascript:void(0);">Logout</a> *@
@*     </div> *@
@* </div> *@
@* <div class="d-flex align-items-center mb-3"> *@
@*     <div class="flex-shrink-0 avatar-sm"> *@
@*         <div class="avatar-title bg-light text-primary rounded-3 fs-18 shadow"> *@
@*             <i class="ri-tablet-line"></i> *@
@*         </div> *@
@*     </div> *@
@*     <div class="flex-grow-1 ms-3"> *@
@*         <h6>Apple iPad Pro</h6> *@
@*         <p class="text-muted mb-0">Washington, United States - November 06 at 10:43AM</p> *@
@*     </div> *@
@*     <div> *@
@*         <a href="javascript:void(0);">Logout</a> *@
@*     </div> *@
@* </div> *@
@* <div class="d-flex align-items-center mb-3"> *@
@*     <div class="flex-shrink-0 avatar-sm"> *@
@*         <div class="avatar-title bg-light text-primary rounded-3 fs-18 shadow"> *@
@*             <i class="ri-smartphone-line"></i> *@
@*         </div> *@
@*     </div> *@
@*     <div class="flex-grow-1 ms-3"> *@
@*         <h6>Galaxy S21 Ultra 5G</h6> *@
@*         <p class="text-muted mb-0">Conneticut, United States - June 12 at 3:24PM</p> *@
@*     </div> *@
@*     <div> *@
@*         <a href="javascript:void(0);">Logout</a> *@
@*     </div> *@
@* </div> *@
@* <div class="d-flex align-items-center"> *@
@*     <div class="flex-shrink-0 avatar-sm"> *@
@*         <div class="avatar-title bg-light text-primary rounded-3 fs-18 shadow"> *@
@*             <i class="ri-macbook-line"></i> *@
@*         </div> *@
@*     </div> *@
@*     <div class="flex-grow-1 ms-3"> *@
@*         <h6>Dell Inspiron 14</h6> *@
@*         <p class="text-muted mb-0">Phoenix, United States - July 26 at 8:10AM</p> *@
@*     </div> *@
@*     <div> *@
@*         <a href="javascript:void(0);">Logout</a> *@
@*     </div> *@
@* </div> *@