@using VinaCent.Blaze.Profiles.Dto
@using VinaCent.Blaze.Web.Resources
@using VinaCent.Blaze.Web.Models.Common.Modals
@inject IWebResourceManager WebResourceManager
@model UpdateCoverDto
@{
    Layout = null;
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Views/Profiles/_UpdateCoverModal.js", false);
}
<div class="modal fade" id="UpdateCoverModal" tabindex="-1" role="dialog" aria-labelledby="UpdateCoverModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L(LKConstants.UpdateCover)))
            <form id="uploadCoverForm" role="form" class="form-horizontal" enctype="multipart/form-data">
                <div class="modal-body">
                    <div>
                        <input type="file" style="display: none;" id="cover-picker" accept="image/gif, image/jpeg, image/png" />

                        <div class="alert alert-success alert-additional mb-0" role="alert">
                            <div class="alert-body">
                                <div class="profile-wid-bg profile-setting-img">
                                    <img class="profile-wid-img" />
                                    <div class="overlay-content">
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="alert-content">
                                <p class="mb-0">
                                    @L(LKConstants.PickCoverImageSuccessful)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>