@using VinaCent.Blaze.Profiles.Dto
@using VinaCent.Blaze.Web.Resources
@model UpdateAvatarDto
@inject IWebResourceManager WebResourceManager

<div class="card mt-n5">
    <div class="card-body p-4">
        <div class="text-center">
            <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                <img id="user-avatar" src="@Model.Avatar" class="rounded-circle avatar-xl img-thumbnail user-profile-image shadow" alt="user-profile-image" avatar self-avatar/>
                <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                    <label data-bs-toggle="modal" data-bs-target="#UpdateAvatarModal" class="profile-photo-edit avatar-xs">
                        <span class="avatar-title rounded-circle bg-light text-body shadow">
                            <i class="ri-camera-fill"></i>
                        </span>
                    </label>
                </div>
            </div>
            <h5 class="fs-16 mb-1">@ViewBag.FullName</h5>
        </div>
    </div>
</div>

<div class="profile-wid-bg profile-setting-img">
    <img src="velzon/images/profile-bg.jpg" class="profile-wid-img" alt=""/>
        <div class="overlay-content">
            <div class="text-end p-3">
                <div class="p-0 ms-auto rounded-circle profile-photo-edit">
                    <input id="profile-foreground-img-file-input" type="file" class="profile-foreground-img-file-input">
                    <label for="profile-foreground-img-file-input" class="profile-photo-edit btn btn-light">
                        <i class="ri-image-edit-line align-bottom me-1"></i> Change Cover
                    </label>
                </div>
            </div>
        </div>
    </div>

@await Html.PartialAsync("~/Views/Profile/Components/ProfileAvatar/_UpdateAvatarModal.cshtml", Model)