@using Microsoft.AspNetCore.Authorization
@using VinaCent.Blaze.Web.Themes.Velzon.Components.VelzonLeftSidebar
@model SidebarControlMenuViewModel
@{
    var orderedAdminCpMenuItems = Model.AdminCpMenu.Items.Where(x => x.IsVisible).ToList();
    var orderedBusinessCpMenuItems = Model.BusinessCpMenu.Items.Where(x => x.IsVisible).ToList();
}

<div class="app-menu navbar-menu">
    <vc:velzon-brand is-inner-sidebar="true" />

    <div id="scrollbar">
        <div class="container-fluid">
            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">@L(LKConstants.AdminCP)</span></li>
                @foreach (var item in orderedAdminCpMenuItems)
                {
                    @await Html.PartialAsync("~/Themes/Velzon/Components/VelzonLeftSidebar/_MenuItem.cshtml", item)
                }
                <li class="menu-title"><span data-key="t-menu">@L(LKConstants.BusinessCP)</span></li>
                @foreach (var item in orderedBusinessCpMenuItems)
                {
                    @await Html.PartialAsync("~/Themes/Velzon/Components/VelzonLeftSidebar/_MenuItem.cshtml", item)
                }
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>