<div class="w-25 w-sm-50 pt-3 mx-auto">
    <img src="velzon/images/svg/bell.svg" class="img-fluid" alt="user-pic"/>
</div>
<div class="text-center pb-5 mt-2">
    <h6 class="fs-18 fw-semibold lh-base">
        Hey! You have no any notifications
    </h6>
</div>