<table id="UsersTable" class="table">
    <tbody class="team-list grid-view-filter row"></tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="addmembers" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Add New Members</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="teammembersName" class="form-label">
                                    Name
                                </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="teammembersName"
                                    placeholder="Enter name"/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="designation" class="form-label">
                                    Designation
                                </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="designation"
                                    placeholder="Enter designation"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="totalProjects" class="form-label">
                                    Projects
                                </label>
                                <input
                                    type="number"
                                    class="form-control"
                                    id="totalProjects"
                                    placeholder="Total projects"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="totalTasks" class="form-label"> Tasks </label>
                                <input
                                    type="number"
                                    class="form-control"
                                    id="totalTasks"
                                    placeholder="Total tasks"/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-4">
                                <label for="formFile" class="form-label">
                                    Profile Images
                                </label>
                                <input class="form-control" type="file" id="formFile"/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="hstack gap-2 justify-content-end">
                                <button
                                    type="button"
                                    class="btn btn-light"
                                    data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-success">
                                    Add Member
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--end modal-content-->
    </div>
    <!--end modal-dialog-->
</div>
<!--end modal-->