@using VinaCent.Blaze.Profiles.Dto;
@using VinaCent.Blaze.Web.Resources
@inject IWebResourceManager WebResourceManager
@model UpdateSocialDto

@{
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Views/Profiles/_AddSocialNetworkModal.js", false);
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center mb-4">
            <div class="flex-grow-1">
                <h5 class="card-title mb-0">@L(LKConstants.SocialNetworkLinks)</h5>
            </div>
            <div class="flex-shrink-0">
                <label class="badge bg-light text-primary fs-12 mb-0 cursor-pointer" data-bs-toggle="modal" data-bs-target="#AddSocialLinkModal">
                    <i class="ri-add-fill align-bottom me-1"></i> @L(LKConstants.Add)
                </label>
            </div>
        </div>
        <input type="hidden" asp-for="ListSocialNetworkRawJson">
        <div id="social-network-container">
        </div>
        @*div class="mb-3 d-flex">
            <div class="avatar-xs d-block flex-shrink-0 me-3">
                <span class="avatar-title rounded-circle fs-16 bg-primary shadow">
                    <i class="ri-global-fill"></i>
                </span>
            </div>
            <input type="text" class="form-control" id="websiteInput" placeholder="www.example.com" value="www.velzon.com">
        </div>
        <div class="mb-3 d-flex">
            <div class="avatar-xs d-block flex-shrink-0 me-3">
                <span class="avatar-title rounded-circle fs-16 bg-success shadow">
                    <i class="ri-dribbble-fill"></i>
                </span>
            </div>
            <input type="text" class="form-control" id="dribbleName" placeholder="Username" value="@@dave_adame">
        </div>
        <div class="d-flex">
            <div class="avatar-xs d-block flex-shrink-0 me-3">
                <span class="avatar-title rounded-circle fs-16 bg-danger shadow">
                    <i class="ri-pinterest-fill"></i>
                </span>
            </div>
            <input type="text" class="form-control" id="pinterestName" placeholder="Username" value="Advance Dave">
        </div>*@
    </div>
</div>

@(await Html.PartialAsync("~/Views/Profile/Components/ProfileSocial/_AddSocialLinkModal.cshtml"))