<div data-simplebar style="max-height: 300px;" class="pe-2">
    <div class="text-reset notification-item d-block dropdown-item">
        <div class="d-flex">
            <img src="velzon/images/users/avatar-3.jpg"
                 class="me-3 rounded-circle avatar-xs" alt="user-pic" avatar/>
            <div class="flex-1">
                <a href="#!" class="stretched-link">
                    <h6 class="mt-0 mb-1 fs-13 fw-semibold">James Lemire</h6>
                </a>
                <div class="fs-13 text-muted">
                    <p class="mb-1">We talked about a project on linkedin.</p>
                </div>
                <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                    <span>
                        <i class="mdi mdi-clock-outline"></i> 30 min
                        ago
                    </span>
                </p>
            </div>
            <div class="px-2 fs-15">
                <div class="form-check notification-check">
                    <input class="form-check-input" type="checkbox" value=""
                           id="messages-notification-check01">
                    <label class="form-check-label"
                           for="messages-notification-check01">
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="text-reset notification-item d-block dropdown-item">
        <div class="d-flex">
            <img src="velzon/images/users/avatar-2.jpg"
                 class="me-3 rounded-circle avatar-xs" alt="user-pic" avatar/>
            <div class="flex-1">
                <a href="#!" class="stretched-link">
                    <h6 class="mt-0 mb-1 fs-13 fw-semibold">Angela Bernier</h6>
                </a>
                <div class="fs-13 text-muted">
                    <p class="mb-1">
                        Answered to your comment on the cash flow
                        forecast's
                        graph 🔔.
                    </p>
                </div>
                <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                    <span><i class="mdi mdi-clock-outline"></i> 2 hrs ago</span>
                </p>
            </div>
            <div class="px-2 fs-15">
                <div class="form-check notification-check">
                    <input class="form-check-input" type="checkbox" value=""
                           id="messages-notification-check02">
                    <label class="form-check-label"
                           for="messages-notification-check02">
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="text-reset notification-item d-block dropdown-item">
        <div class="d-flex">
            <img src="velzon/images/users/avatar-6.jpg"
                 class="me-3 rounded-circle avatar-xs" alt="user-pic" avatar/>
            <div class="flex-1">
                <a href="#!" class="stretched-link">
                    <h6 class="mt-0 mb-1 fs-13 fw-semibold">Kenneth Brown</h6>
                </a>
                <div class="fs-13 text-muted">
                    <p class="mb-1">
                        Mentionned you in his comment on 📃 invoice
                        #12501.
                    </p>
                </div>
                <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                    <span>
                        <i class="mdi mdi-clock-outline"></i> 10 hrs
                        ago
                    </span>
                </p>
            </div>
            <div class="px-2 fs-15">
                <div class="form-check notification-check">
                    <input class="form-check-input" type="checkbox" value=""
                           id="messages-notification-check03">
                    <label class="form-check-label"
                           for="messages-notification-check03">
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="text-reset notification-item d-block dropdown-item">
        <div class="d-flex">
            <img src="velzon/images/users/avatar-8.jpg"
                 class="me-3 rounded-circle avatar-xs" alt="user-pic" avatar/>
            <div class="flex-1">
                <a href="#!" class="stretched-link">
                    <h6 class="mt-0 mb-1 fs-13 fw-semibold">Maureen Gibson</h6>
                </a>
                <div class="fs-13 text-muted">
                    <p class="mb-1">We talked about a project on linkedin.</p>
                </div>
                <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                    <span>
                        <i class="mdi mdi-clock-outline"></i> 3 days
                        ago
                    </span>
                </p>
            </div>
            <div class="px-2 fs-15">
                <div class="form-check notification-check">
                    <input class="form-check-input" type="checkbox" value=""
                           id="messages-notification-check04">
                    <label class="form-check-label"
                           for="messages-notification-check04">
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="my-3 text-center">
        <button type="button"
                class="btn btn-soft-success waves-effect waves-light">
            View
            All Messages <i class="ri-arrow-right-line align-middle"></i>
        </button>
    </div>
</div>