<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-light waves-effect waves-light close-button" data-bs-dismiss="modal">@L(LKConstants.Cancel)</button>
    <button type="button" class="btn btn-primary waves-effect waves-light save-button">@L(LKConstants.Save)</button>
</div>