<div class="card mt-4" id="ChangePasswordWasSuccessfulContainer">
    <div class="card-body p-4 text-center">
        <div class="avatar-lg mx-auto mt-2">
            <div class="avatar-title bg-light text-success display-3 rounded-circle">
                <i class="ri-checkbox-circle-fill"></i>
            </div>
        </div>
        <div class="mt-4 pt-2">
            <h4>@L(LKConstants.Successful)</h4>
            <p class="text-muted mx-4">@L(LKConstants.PasswordResetSuccessful)</p>
            <div class="mt-4">
                @if (User.Identity?.IsAuthenticated != true)
                {
                    <a asp-action="Login" asp-controller="Account" class="btn btn-success mb-3 w-100">@L(LKConstants.LogIn)</a>
                }
                <a asp-action="Index" asp-controller="Home" asp-area="Client" class="btn btn-primary w-100">@L(LKConstants.GoBackHome)</a>
            </div>
        </div>
    </div>
    <!-- end card body -->
</div>