<div class="abp-advanced-search">
    <form id="UsersSearchForm" class="form-horizontal">
        <div class="input-group">
            <button type="button" class="btn btn-primary waves-effect waves-light btn-search">
                <span class="fas fa-search" aria-hidden="true"></span>
            </button>
            <input type="text" name="Keyword" class="form-control txt-search" />
        </div>
    </form>
</div>
