@using VinaCent.Blaze.Web.Areas.AdminCP.Common
@using VinaCent.Blaze.Web.Areas.AdminCP.Models.Users
@using VinaCent.Blaze.Web.Startup
@using VinaCent.Blaze.Web.Themes.Velzon.ThemeOptions
@inject IVelzonThemeOptions ThemeOptions
@model UserListViewModel
@{
    ThemeOptions.AddBreadcrumb(L(LKConstants.AdminCP)).AddBreadcrumb(L(LKConstants.Users)).Commit(this);
    ViewBag.Title = L(LKConstants.Users);
    ViewBag.CurrentPageName = AdminCpPageNames.Users;
}

@section styles {
    <link rel="stylesheet" href="~/view-resources/Views/Users/Index.css"/>
}

@section scripts
{
    <script src="~/view-resources/Views/Users/Index.js" asp-append-version="true"></script>
    <script src="~/velzon/js/pages/team.init.js"></script>
}

<partial name="~/Areas/AdminCP/Views/Users/Velzon/FilterBar.cshtml"/>

<partial name="~/Areas/AdminCP/Views/Users/Velzon/MainContent.cshtml"/>

@await Html.PartialAsync("~/Areas/AdminCP/Views/Users/_CreateModal.cshtml", Model)

<div class="modal fade" id="UserEditModal" tabindex="-1" role="dialog" aria-labelledby="UserEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>