@using VinaCent.Blaze.Profiles.Dto
@using VinaCent.Blaze.Web.Models.Common.Modals
@model UpdateAvatarDto

@{
    Layout = null;
}
<div class="modal fade" id="UpdateAvatarModal" tabindex="-1" role="dialog" aria-labelledby="UpdateAvatarModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L(LKConstants.UpdateAvatar)))
            <form id="uploadFileForm" role="form" class="form-horizontal" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" asp-for="Avatar">@L(LKConstants.PickAFileToUpload)</label>
                        <input type="file" asp-for="Avatar" class="form-control">
                        <span asp-validation-for="Avatar" class="text-danger"></span>
                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>