<div class="card mt-n5">
    <div class="card-body p-4">
        <div class="text-center">
            <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                <img src="velzon/images/users/avatar-1.jpg" class="rounded-circle avatar-xl img-thumbnail user-profile-image  shadow" alt="user-profile-image">
                <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                    <input id="profile-img-file-input" type="file" class="profile-img-file-input">
                    <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                        <span class="avatar-title rounded-circle bg-light text-body shadow">
                            <i class="ri-camera-fill"></i>
                        </span>
                    </label>
                </div>
            </div>
            <h5 class="fs-16 mb-1">Anna Adame</h5>
            <p class="text-muted mb-0">Lead Designer / Developer</p>
        </div>
    </div>
</div>