@using VinaCent.Blaze.BusinessCore.Shop.Common
@using VinaCent.Blaze.Helpers
@model VinaCent.Blaze.BusinessCore.ShopModule.Products.Dto.CreateOrUpdateProductDto
@{
    var submitStatus = EnumHelper.ToSelectListItemst<SubmitStatus>();
    var visibilityTypes = EnumHelper.ToSelectListItemst<VisibilityType>();
}
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">@L(LKConstants.Publish)</h5>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label asp-for="Status" class="form-label"></label>

            <select class="form-select"
                    id="product-submit-status"
                    asp-for="Status"
                    asp-items="submitStatus"
                    data-choices data-choices-search-false>
            </select>
            <span asp-validation-for="Status" class="invalid-feedback"></span>
        </div>

        <div>
            <label asp-for="Visibility" class="form-label"></label>
            <select class="form-select"
                    asp-for="Visibility"
                    asp-items="visibilityTypes"
                    data-choices data-choices-search-false>
            </select>
            <span asp-validation-for="Visibility" class="invalid-feedback"></span>
        </div>
    </div>
    <!-- end card body -->
</div>