@model VinaCent.Blaze.BusinessCore.ShopModule.Products.Dto.CreateOrUpdateProductDto
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Publish Schedule</h5>
    </div>
    <!-- end card body -->
    <div class="card-body">
        <div>
            <label for="datepicker-publish-input" class="form-label">Publish Date & Time</label>
            <input type="text" id="datepicker-publish-input" class="form-control" placeholder="Enter publish date" data-provider="flatpickr" data-date-format="d.m.y" data-enable-time>
        </div>
    </div>
</div>