<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <label class="form-label" for="product-title-input">Product Title</label>
            <input type="hidden" class="form-control" id="formAction" name="formAction" value="add">
            <input type="text" class="form-control d-none" id="product-id-input">
            <input type="text" class="form-control" id="product-title-input" value="" placeholder="Enter product title" required>
            <div class="invalid-feedback">Please Enter a product title.</div>
        </div>
        <div>
            <label>Product Description</label>

            <div id="ckeditor-classic">
                <p>Tommy Hilfiger men striped pink sweatshirt. Crafted with cotton. Material composition is 100% organic cotton. This is one of the world’s leading designer lifestyle brands and is internationally recognized for celebrating the essence of classic American cool style, featuring preppy with a twist designs.</p>
                <ul>
                    <li>Full Sleeve</li>
                    <li>Cotton</li>
                    <li>All Sizes available</li>
                    <li>4 Different Color</li>
                </ul>
            </div>
        </div>
    </div>
</div>