@model VinaCent.Blaze.BusinessCore.ShopModule.Products.Dto.CreateProductDto
@{
    var categoryItems = (IEnumerable<SelectListItem>) ViewBag.CategoryItems;
}
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">@L(LKConstants.Product_Categories)</h5>
    </div>
    <div class="card-body">
        <p class="text-muted mb-2">
            @L(LKConstants.SelectProductCategory)
        </p>
        <select class="form-select" id="choices-category-input"
                asp-for="CategoryIds"
                asp-items="categoryItems"
                name="choices-category-input" data-choices data-choices-search-false>
        </select>
        <span asp-validation-for="CategoryIds" class="invalid-feedback"></span>
    </div>
</div>