@model VinaCent.Blaze.BusinessCore.ShopModule.Products.Dto.CreateOrUpdateProductDto
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">@L(LKConstants.Product_Categories)</h5>
    </div>
    <div class="card-body">
        <p class="text-muted mb-2">
            <a href="#" class="float-end text-decoration-underline">
                Add
                New
            </a>Select product category
        </p>
        <select class="form-select" id="choices-category-input" name="choices-category-input" data-choices data-choices-search-false>
            <option value="Appliances">Appliances</option>
            <option value="Automotive Accessories">Automotive Accessories</option>
            <option value="Electronics">Electronics</option>
            <option value="Fashion">Fashion</option>
            <option value="Furniture">Furniture</option>
            <option value="Grocery">Grocery</option>
            <option value="Kids">Kids</option>
            <option value="Watches">Watches</option>
        </select>
    </div>
    <!-- end card body -->
</div>