@model VinaCent.Blaze.BusinessCore.ShopModule.Products.Dto.CreateOrUpdateProductDto
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">@L(LKConstants.ProductTags)</h5>
    </div>
    <div class="card-body">
        <div class="hstack gap-3 align-items-start">
            <div class="flex-grow-1">
                <input class="form-control" id="product-tags-input" placeholder="Enter tags" type="text" value=""/>
            </div>
        </div>
    </div>
</div>