@model VinaCent.Blaze.BusinessCore.ShopModule.Products.Dto.CreateOrUpdateProductDto
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Publish</h5>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label for="choices-publish-status-input" class="form-label">Status</label>

            <select class="form-select" id="choices-publish-status-input" data-choices data-choices-search-false>
                <option value="Published" selected>Published</option>
                <option value="Scheduled">Scheduled</option>
                <option value="Draft">Draft</option>
            </select>
        </div>

        <div>
            <label for="choices-publish-visibility-input" class="form-label">Visibility</label>
            <select class="form-select" id="choices-publish-visibility-input" data-choices data-choices-search-false>
                <option value="Public" selected>Public</option>
                <option value="Hidden">Hidden</option>
            </select>
        </div>
    </div>
    <!-- end card body -->
</div>