@model VinaCent.Blaze.BusinessCore.ShopModule.Products.Dto.CreateProductDto

<div class="mb-3">
    <label class="form-label" asp-for="BuyerVisibleContent"></label>
            <textarea asp-for="BuyerVisibleContent" class="form-control editor d-block"></textarea>
    <span asp-validation-for="BuyerVisibleContent" class="invalid-feedback"></span>
</div>