@model VinaCent.Blaze.BusinessCore.ShopModule.Products.Dto.CreateOrUpdateProductDto

<div class="mb-3">
    <label class="form-label" asp-for="MetaTitle"></label>
    <input type="text" asp-for="MetaTitle" class="form-control" />
    <span asp-validation-for="MetaTitle" class="invalid-feedback"></span>
</div>