@model VinaCent.Blaze.BusinessCore.ShopModule.Products.Dto.CreateOrUpdateProductDto

<div class="row">
    <div class="col-lg-6">
        <div class="mb-3">
            <label class="form-label" for="meta-title-input">Meta title</label>
            <input type="text" class="form-control" placeholder="Enter meta title" id="meta-title-input">
        </div>
    </div>
    <!-- end col -->

    <div class="col-lg-6">
        <div class="mb-3">
            <label class="form-label" for="meta-keywords-input">Meta Keywords</label>
            <input type="text" class="form-control" placeholder="Enter meta keywords" id="meta-keywords-input">
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<div>
    <label class="form-label" for="meta-description-input">Meta Description</label>
    <textarea class="form-control" id="meta-description-input" placeholder="Enter meta description" rows="3"></textarea>
</div>