@model VinaCent.Blaze.BusinessCore.ShopModule.Products.Dto.CreateProductDto

<div class="mb-3">
    <label class="form-label" asp-for="SellerVisibleContent"></label>
    <textarea asp-for="SellerVisibleContent" class="form-control editor d-block"></textarea>
    <span asp-validation-for="SellerVisibleContent" class="invalid-feedback"></span>
</div>