@model VinaCent.Blaze.Users.Dto.UserDto

<div class="dropdown ms-sm-3 header-item topbar-user">
    <button type="button" class="btn shadow-none" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="d-flex align-items-center">
            <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.jpg" alt="Header Avatar">
            <span class="text-start ms-xl-2">
                <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text"> @Model.Name</span>
                @* <span class="d-none d-xl-block ms-1 fs-12 text-muted user-name-sub-text">Founder</span> *@
            </span>
        </span>
    </button>
    <div class="dropdown-menu dropdown-menu-end">
        <!-- item-->
        <a class="dropdown-item" asp-controller="Users" asp-action="ChangePassword">
            <i class="mdi mdi-lock text-muted fs-16 align-middle me-1"></i> <span class="align-middle">@L("UpdatePassword")</span>
        </a>
        <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
            <i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">@L("Logout")</span>
        </a>
    </div>
</div>